/*-- fix the background color of code blocks --*/
div.sourceCode.cell-code {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

/*-- remove added white space that appears after clicking on an anchored link --*/
section:target::before {
  content: none !important;
}
